{% comment %}
	General modal dialog for modal shortcuts
{% endcomment %}

<div class="modal hide fade" id="modal-shortcuts" tabindex="-1" role="dialog"
	aria-labelledby="modal-shortcuts-label" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h3 id="modal-shortcuts-label">Shortcuts</h3>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<p>Draw Mode (D)</p>
	 		<p>Adjust Mode (A)</p>
	 		<p>Snap to an existing line (Q)</p>
	 		<p>Snap to an existing point/corner (W)</p>
	 		<p>Move image center using arrow (up, down, left, right)</p>	
	 		<p>Undo (Z)</p>
			<p>Redo (X)</p>
			<p>Close a Polygon (Right-Click)</p>
			<p>Delect a selected polygon (Delete)</p>
			<p>Toggle between transparent and Fill (F)</p>
			<p>Loop through each polygon (P)</p>
			<p>Zoom to selected polygon ()</p>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>
